.row
  .col-lg-8
    %h2 Welcome Bearcats!
    = image_tag 'binghamton_campus.jpg', alt: 'Binghamton Campus', class: 'w-100 rounded-lg my-3'
    %h4 Interact with Student Clubs on Campus
    %p.text-secondary.lead Your hub for all Binghamton University clubs. Search for new clubs to join and follow the clubs you already love.
  .col-lg-4.bg-light.p-5.rounded-lg
    %h3 Log in or Sign up for a New Account
    .form-group.mt-5
      = button_to 'with GitHub', '/auth/github/', :method => :get, :class => 'btn btn-primary btn-lg btn-block rounded-pill', :id => 'github'
    %p.form-text.text-center.text-muted or
    .form-group
      = button_to 'with Facebook', '/auth/facebook/', :method => :get, :class => 'btn btn-primary btn-lg btn-block rounded-pill', :id => 'facebook'
.row
  .col-lg-12.mb-5
    = link_to 'Session Reset', cleanup_path