!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    
    / Required meta tags
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    
    / CSS
    = stylesheet_link_tag "welcome"
    
    / Bootstrap CSS
    %link{:crossorigin => "anonymous", :href => "https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css", :integrity => "sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh", :rel => "stylesheet"}/
    
    %title Binghamton Bearclubs
    
  %body
    .container
      .row
        .col-sm-12
          %nav.navbar.fixed-top.navbar-light.bg-light.rounded-bottom.border-bottom
            %h1.bing-green.font-weight-bold Binghamton Bearclubs
      .row
        .col-lg-8
          %h2 Welcome Bearcats!
          = image_tag "binghamton-campus.jpg", alt: "Binghamton Campus", class: "w-100 rounded-lg my-3"
          %h4 Interact with Student Clubs on Campus
          %p.text-secondary Your hub for all Binghamton University clubs. Search for new clubs to join and follow the clubs you already love.
        .col-lg-4.jumbotron
          %h3 Sign in or create a new account
          %form
            .form-group
              %label Email
              %input.form-control{:type => "email"}/
            .form-group
              %label Password
              %input.form-control{:type => "password"}/
              %a{:href => ""} Forgot password?
            .form-group
              %button.btn.btn-primary.btn-lg.btn-block.rounded-pill{:type => "submit"} Log in
            %p.form-text.text-center.text-muted or
            .form-group
              %button.btn.btn-primary.btn-lg.btn-block.rounded-pill{:type => "submit"} Sign up
      .row
        .col-sm-12
          %p.text-center.text-muted
            %small &copy 2020 Binghamton Bearcats, Inc.
