// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#github {
	background-color: #f1502f;
	border-color: white;
}

#facebook {
	background-color: #3b5998;
	border-color: white;
}