%nav.navbar.fixed-top.navbar-light.bg-light.rounded-bottom.border-bottom
  %h1.bing-green.font-weight-bold Binghamton Bearclubs
  .float-left
    %h5{class: hide }
      = link_to 'Log out', logout_path